body{
    color:white;
    padding: 200px;
    margin: 0px;
    background-image: url(pictures/bg.jpg);
    background-size: 1425px 900px;
    background-repeat: no-repeat;
}
.first{
    /*border:5px solid red;*/
    width:1000px;
    height:500px; 
    /*background-color: #197DB2;*/
   background-color: #202325;
    opacity: 0.9;
}
.second{
    /*border:5px solid green;*/
        width:600px;
        height:500px;
        float:left; 
        background-color: #ffffff;
        opacity: 0.9;
}
.second1{
        /*border:1px solid black;*/
        width:500px;
        height:50px;
       margin: 45px 0px 22px 124px
}
.second2{
        /*border:1px solid orange;*/
        width:500px;
        height:330px;
        margin:0px 0px 0px 48px;
}
.third{
    text-align: center;
    /*border:5px solid saddlebrown;*/
        width:280px;
        height:300px;
        margin:100px 60px 0px 44px;
        float: right;
}
.four{
   /*border:5px solid saddlebrown;*/
   width:280px;
   height:100px; 
   margin: 40px 0px 0px -26px;
    float:left;
}
.delete{
   color:white;
   font-size:18px;
}
.facebook{
    height:37px;
    width:140px;
    text-align: left;
     background-color: #2f5daf;
     color:white;
}
.fbIcon{
    margin: 0px 0px 0px 17px;
}
.twIcon{
    margin: 0px 0px 0px 17px;
}
.Twitter{
    height:37px;
    width:140px;
    margin-left: 13px;
    text-align: left;
    background-color: #23a4de;
    color:white;
}
.submit_1{
height: 40px;
width:450px;
background-color:#202325;
color:white;
}
.submit{
    height: 40px;
width:100px;
background-color: #202325;
float: right;
margin-top: 15px;
color:white;
}
.gender1{
    margin:0px 20px 0px 0px;
}

input {
    /*height: 30px;*/
font-size: 100%;
color: #5a5854;
background-color: #f2f2f2;
border: 1px solid #bdbdbd;
border-radius: 5px;
padding:17px 6px 8px 20px;
/*padding: 5px 5px 5px 30px;*/
background-repeat: no-repeat;
background-position: 8px 9px;
/*display: block;*/
margin-bottom: 20px;
}
input:focus {
/*font-family:  Georgia, Times, 'Times New Roman', serif;*/
background-color: #ffffff;
border: 1px solid #b1e1e4;
}
#gender{
    /*padding: 12px;*/
    padding: 16px 8px 9px 16px;
    margin: 0px 0px 0px 8px;
color: #5a5854;
background-color: #f2f2f2;
border: 1px solid #bdbdbd;
border-radius: 5px;
margin-bottom: 20px;
}
#gender:hover{
border: 2px solid rgba(44,174,220,0.60);
background-color: #ffffff;
}
